<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My test page</title>
  </head>
  <body>
    <h1>Really Good Title</h1>
    <p>I long to be the kind of person who roasts my marshmallows with 
      <strong> patientce and caution</strong>, holding them at a safe <a href="https://www.amazon.com/gp/aw/d/B07MP1JB2Z/?_encoding=UTF8&pd_rd_plhdr=t&aaxitk=1fcd139a1550c39d04724e3dcc51b34c&hsa_cr_id=0&qid=1774324562&sr=1-1-9e67e56a-6f64-441f-a281-df67fc737124&ref_=sbx_s_sparkle_sbtcd_asin_0_title&pd_rd_w=TSqUY&content-id=amzn1.sym.2fb72bc8-96ef-420d-b08f-c04b69f36507%3Aamzn1.sym.2fb72bc8-96ef-420d-b08f-c04b69f36507&pf_rd_p=2fb72bc8-96ef-420d-b08f-c04b69f36507&pf_rd_r=Z1VSPV1RARQZQDQB2X54&pd_rd_wg=p8igi&pd_rd_r=df2e938e-068b-4556-b340-b77016d93427&th=1">distance</a> from the fire, 
      rotating diligently, waiting for the outside to turn copper and the inside 
      to go molten. In this ideal state, the marshmallow will yield to the weight of 
      the graham cracker, spilling out of its belted restraints, its heat melting the 
      square of <a href="https://shop.hersheys.com/our-brands/hersheys/034000002405.html">chocolate</a> beneath.
    </p>
    <img
      src="https://www.delish.com/cooking/recipe-ideas/a28567178/smores-recipe/"
      alt="yummy smores"
      width="300" />
  </body>
</html>